/*CSS IS CASCADING STYLE SHEETS*/
/* CSS SELECTORS */

/* UNIVERSAL styles */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Epilogue', sans-serif;

}
:root{
    /* COLORS */
  --almost_white: hsl(0, 0%, 98%);
  --medium_gray:hsl(0, 0%, 41%);
  --almost_black:hsl(0, 0%, 8%);
  
  /* Font Sizes */
    --fs-h1:2.5rem;
    --fs-h2:1.85rem;
    --fs-h3:1.25rem;
    --fs-body:16px;
    --fs-small:.8rem;

}
@media (max-width:375px){


    :root{
        /* COLORS */
      --almost_white: hsl(0, 0%, 98%);
      --medium_gray:hsl(0, 0%, 41%);
      --almost_black:hsl(0, 0%, 8%);
      
      /* Font Sizes */
        --fs-h1:10vw;
        --fs-h2:1.85rem;
        --fs-h3:1.25rem;
        --fs-body:16px;
    
    }
}
/* Bigger Screens */
@media (min-width:768px){

    :root{
      
      /* Font Sizes */
        --fs-h1:3rem;
        --fs-h2:2.75rem;
        --fs-h3:2.5rem;
        --fs-body:1.0rem;
        --mrg-inline:4rem;
        --pd-block:2rem;
        /* --fs-body:1.0rem; */
        
        
    }
}

@media  (min-width:1000px){
    
    :root{
        
        /* Font Sizes */
        --fs-h1:4rem;
        --fs-h2:3.75rem;
        --fs-h3:2.5rem;
        --fs-body:1.125rem;
        --mrg-inline:6rem;
        --pd-block:4rem;
        
    }
}
@media  (min-width:1440px){
    
    :root{
        
        /* Font Sizes */
        --fs-h1:5.6rem;
        --fs-h2:3.75rem;
        --fs-h3:2.5rem;
        --fs-body:1.125rem;
        --mrg-inline:8rem;
        --pd-block:4rem;
        
    }
}

/* BODY STYLES START */
 body{
   font-size: 18px;
   /* height: 100%; */
} 
/* HEADER STYLES */

.mobileHeader{
    
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px;
   
}
/* Input tag styles */

.mobileHeader #menutoggle{
  display: none;
}

/* hamburger container styles */

.mobileHeader .menuButtonContainer{
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
/* Hamburger design styles */
.mobileHeader .menuButtonContainer .menubutton,
.menubutton::before,
.menubutton::after{
    display: block;
    height: 4px;
    width: 30px;
    background-color: #000;
    position: absolute;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index:1000;
}
.menubutton::before{
    content: "";
    margin-block-start: -8px;
}
.menubutton::after{
    content: "";
    margin-block-start: 8px;
}

  /* INACTIVE STATES */
  /* Navigation bar on Mobile Devices */
  .mobileHeader #menutoggle ~ .nav {
    background-color:rgba(0, 0, 0, 0.5);
    left:0;
    position:fixed;
    right:0;
    top:0;
    padding-inline:1rem;
    bottom: 0;
    color: rgb(29, 27, 27);
    transform: translateX(120%);
    transition: transform 500ms cubic-bezier(0.5,0,0.5,1);
    z-index: 10;
    
    
}
.mobileHeader #menutoggle ~  .nav .menu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-block-start: 5rem;
    padding-inline-start: 1rem;
    background-color: var(--almost_white);
   

}

.mobileHeader .nav .menu{
   
    
    list-style: none;
    
}
.mobileHeader #menutoggle ~ .nav .menu>li{
   
    padding-block: 0.7rem;
    
}
.mobileHeader #menutoggle ~ .nav .menu>li>a{
   
    color: var(--medium_gray);
    padding-inline: 0.7rem;
    
}
.navItem .navlink + .sublist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 0px;
    overflow: hidden;
    
    transition:height 1000ms ease-in-out ;
}
.navItem .navlink + .sublist .sublink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline-start: 1.5rem;
    color: var(--medium_gray);
}
.navItem .navlink + .sublist .sublink .material-icons{
   
    /* color: yellow; */
}

a{
    color: var(--medium_gray);
    text-decoration: none;
    color: var(--almost_white);
    font-size: 1rem;
}
.desktop.loginReg{
    display: none;
}
.mobileHeader .nav .mobile.loginReg{
    display: flex;
    position: relative;
    margin: 10% auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.mobileHeader .nav .mobile.loginReg a{
    color: var(--medium_gray);
    text-align: center;
    text-decoration: none;
    
   
}
.mobileHeader .nav .mobile.loginReg a:nth-child(2){
   border: 1px solid var(--medium_gray);
   border-radius: 15px;
   padding-block: 1rem;
   padding-inline: 4rem;
}


/* ACTIVE */
/* ACTIVE HAMBURGER BUTTON STATES STYLES */

#menutoggle:checked + .menuButtonContainer .menubutton::before{
    margin-block-start: 0;
    transform:rotate(-405deg) ;
  
  }
#menutoggle:checked + .menuButtonContainer .menubutton{
    background-color: rgba(255,255,255,0);
  
  }
#menutoggle:checked + .menuButtonContainer .menubutton::after{
    margin-block-start: 0;
    transform:rotate(405deg) ;
  
  }
/* ACTIVE MENU */
.mobileHeader #menutoggle:checked ~ .nav{
   
    transform: translateX(0%);
  
    
}
.mobileHeader #menutoggle:checked ~ .nav .menu{
     transform: translateX(0%); 
}
/* ACTIVE SUB MENU STYLES */
.nav .menu .navItem:hover .navlink + .sublist{
   height: max-content;
   /* transition: height 500ms ease-in-out; */
}
.nav .menu .sublist .sublink{
    padding-block: 0.8rem;
    
}

.nav .menu .navItem:hover .navlink  span i{
   transform: rotate(180deg);
   transition: transform 500ms ease-in-out;
    
}
/* MAIN SECTION STYLES */

.main {
    max-width:1440px;
    margin-inline: auto;
}
.main .mainSection {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    /* align-items: center; */
    /* margin-block-end: 2rem; */
    max-height: 650px;
}
.main .mainSection .image{
    
    width:100%;
    
    

}
#onDesktop{
    display: none;
}
.main .mainSection .image img{
    max-width: 100%;
    max-height: 100%;
   display: block;
    

} 


.main .mainSection .textContent{
    /* width:100%; */
    /* height: 50%; */
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    padding-inline: 0.1rem;
    padding-block-end: 2rem;

}
.main .mainSection .textContent h1{
    margin-block: 1rem;
   font-size: var(--fs-h1);
   font-weight: 700;
    

}
.main .mainSection .textContent p{
    margin-block-end: 2rem;
    font-weight: 500;
   font-size: var(--fs-body);
   color: var(--medium_gray);
   line-height: 1.5;
   text-align:center;
}

.main .mainSection .textContent a{
    margin-block: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background-color: var(--almost_black);
    color: var(--almost_white);

}
.main .mobilefooter{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-block-start: 4rem;
}
.main .mobilefooter img{
   display: inline-block;
   margin :0 auto;
   width:4.5rem;
   
}
.main .desktopfooter{

    
    display: none;
    
}
.main .desktopfooter img{
    display: none;
    
    
 }
/* MEDIA QUERIES BELOW */

@media (min-width:400px){
    .main .mainSection .image{
        
        background-size: cover; /* This makes the hero image responsive on mobile and tablet*/
        
    
    }
    
}

@media (min-width:768px){

     
    #onMobile{
        display: none;
    }
    #onDesktop{
        display: block;
    }
    .mobileHeader{
     /* justify-content:safe; */
        /* display: flex;
        align-items: center;
        padding: 16px;
         */
     }
    .mobileHeader .logo{
    
      
        
     }

    .mobileHeader .menuButtonContainer{
        display: none;
       
      
    }
    .mobileHeader #menutoggle ~ .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color:initial;
        position:initial;
        padding-inline:1rem;
        margin-inline-start: 1rem;
        color: var(--medium_gray);
        transform: translateX(0%);
        
        
    }

    .mobileHeader #menutoggle ~  .nav .menu{
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block-start: 0;
        padding-inline-start: .6rem;
        background-color: transparent;
    
    
    }
    .navItem .navlink + .sublist{
        position: absolute;
        
      
    }
    .navItem .navlink + .sublist .sublink{
        /* display: flex;
        justify-content: center;
        align-items: center;*/
        padding-block: .5rem;
        /*padding-inline-start: 1.5rem;
        color: var(--medium_gray); */
    }
    .mobileHeader .nav .mobile.loginReg{
        display: none;
        
    }
    
    .mobileHeader  .desktop.loginReg{
        display: initial;
        margin-inline-end: 0;
        margin-inline-start: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .mobileHeader  .desktop.loginReg a{
        color: var(--medium_gray);
        text-align: center;
        text-decoration: none;
        font-size: 1rem; 
       
    }
    .mobileHeader  .desktop.loginReg a:nth-child(2){
        width: 100%;
        border: 1px solid var(--medium_gray);
       border-radius: 15px;
       padding-block: 1em;
       padding-inline: 2.5em;
    }
    
    /* MAIN SECTION DESKTOP STYLES */
    .main .mainSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* flex-direction: row; */
         margin-inline: var(--mrg-inline); 
        padding-block: var(--pd-block);
        
    }
    
    .main .mainSection .image{
        order: 2;
        /* width:50%; */
        /* height: 560px;  */
        display: flex;
        justify-content: end;
        align-items: center;
        
    
    }
    .main .mainSection .image img{
       max-width: 100%;
       max-height: 100%;

        
    
    }
   
    .main .mainSection .textContent{
        /* position: relative; */
        /* top: 5rem; */
         /* display: grid;  */
         /* grid-template-columns: 1fr; */
        /* flex-direction: column; */
        /* justify-content: center; */
         /* align-items: start; */
         /* width:65%;  */
        /* height: 100%;  */
        padding-block-start: 3em ;
        text-align: left;
    }
    .main .mainSection .textContent h1{
       position: relative;
       font-size: 3em;
       font-weight: 700;
       text-align: start;
       /* top: 0; */
       padding-inline-end: 1rem;
    }
    .main .mainSection .textContent p{
        margin-block-end: 8vh; 
        font-weight: 500;
        font-size: var(--fs-body);
        /* padding-block: 1.5rem ; */
        padding-inline-end: 3rem ;
        color: var(--medium_gray);
        text-align: start;
        
    }
    
    .main .mainSection .textContent a{
    
        /* display: block; */
        /* padding-block: 1rem; */
        border-radius: 15px;
        background-color: var(--almost_black);
        color: var(--almost_white);
        font-size:var(--fs-small);
        /* margin-inline-start: 1rem; */
        /* margin-inline-end: auto; */
        /* margin-block-end: 10vh ; */
        /* padding: 0; */
    }
    .main .mobilefooter{
       display: none;
      
    }
    .main .mobilefooter img{
       display: none;
      /* margin :0 auto;
       width:4.5rem; */
       
    }
    .main .desktopfooter{
        
        margin-block-start: 20vh; 
         display: flex;
        flex-direction: row;
        justify-content: center; 
        gap:1rem
    }
    .main .desktopfooter img{
        display:inline-block;
        margin :0 auto;
        width:80px;
        height: 24px; 
        
     }
}








@media (min-width:1000px){

    .mobileHeader{
     justify-content:safe;
        /* display: flex;
        align-items: center;
        padding: 16px;
         */
     }
    .mobileHeader .logo{
    
      
        
     }

    .mobileHeader .menuButtonContainer{
        display: none;
       
      
    }
    .mobileHeader #menutoggle ~ .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color:initial;
        position:initial;
        padding-inline:1rem;
        margin-inline-start: 1rem;
        color: var(--medium_gray);
        transform: translateX(0%);
        
        
    }

    .mobileHeader #menutoggle ~  .nav .menu{
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block-start: 0;
        padding-inline-start: 1rem;
        background-color: transparent;
    
    
    }
    .navItem .navlink + .sublist{
        position: absolute;
        
      
    }
    .navItem .navlink + .sublist .sublink{
        /* display: flex;
        justify-content: center;
        align-items: center;gap: 1rem;
        padding-inline-start: 1.5rem;
        color: var(--medium_gray); */
    }
    .mobileHeader .nav .mobile.loginReg{
        display: none;
        
    }
    
    .mobileHeader  .desktop.loginReg{
        display: initial;
        margin-inline-end: 0;
        margin-inline-start: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .mobileHeader  .desktop.loginReg a{
        color: var(--medium_gray);
        text-align: center;
        text-decoration: none;
        font-size: 1rem; 
       
    }
    .mobileHeader  .desktop.loginReg a:nth-child(2){
        width: 100%;
        border: 1px solid var(--medium_gray);
       border-radius: 15px;
       padding-block: 1em;
       padding-inline: 2.5em;
    }
    
    /* MAIN SECTION DESKTOP STYLES */
    .main .mainSection {
        display: flex;
        flex-direction: row;
         margin-inline: var(--mrg-inline); 
        padding-block: var(--pd-block);
        
    }
    
    .main .mainSection .image{
        /* order: 2; */
        /* width:50%; */
        /* height: 560px;  */
        /* display: flex;
        justify-content: end;
        align-items: center;
         */
    
    }
    .main .mainSection .image img{
       /* max-width: 100%;
       max-height: 100%; */

        
    
    }
/*     
    #onMobile{
        display: none;
    } */
    /* #onDesktop{
        display: block;
    } */
    .main .mainSection .textContent{
       /* position: relative;
         width:60%;
        top: 2rem;
        padding: 3rem;
        max-height: 600px; */
    }
    .main .mainSection .textContent h1{
       /* position: relative; */
       font-size: 5rem;
       font-weight: 700;
       /* text-align: start; */
       /* top: 0; */
       padding-inline-end: 3rem;
    }
    .main .mainSection .textContent p{
        margin-block: 1rem;
        font-weight: 500;
       font-size: 1.2rem;
       padding-block: 1.5rem ;
       padding-inline-end: 3.5rem ;
       color: var(--medium_gray);
      text-align: start;
    }
    
    .main .mainSection .textContent a{
    
        padding-block: 1rem;
        /* margin-block-end: var(--pd-block);  */
        width: 30%;
        border-radius: 15px;
        background-color: var(--almost_black);
        color: var(--almost_white);
     
    }
    .main .mobilefooter{
       display: none;
       /*justify-content: center;
       align-items: center; */
       /* gap: rem; */
    }
    .main .mobilefooter img{
       display: none;
      /* margin :0 auto;
       width:4.5rem; */
       
    }
    .main .desktopfooter{
         /* padding-block: 1rem; */
        margin-block-start: 4rem; 
         display: flex;
        flex-direction: row;
        justify-content: center; 
        gap:1rem
    }
    .main .desktopfooter img{
        display:inline-block;
        margin :0 auto;
        width:100px;
        height: 24px; 
        
     }
}
 
